body,
html {
    height: 100%;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.icons-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* Default flex-direction */
    transition: bottom 0.5s ease-in-out, opacity 0.5s, transform 0.5s;
}

@media (max-width: 768px) {
    .icons-container {
        flex-direction: column;

    }
}

.store-button {
    display: inline-block;
    width: 150px;
}

.google-play {
    background-color: #34A853; /* Google Play green color */
}

.app-store {
    background-color: #0000FF; /* Apple blue color */
}

.store-buttons-container {
    padding-top: 10px;
    text-align: center;
}

.app-icon {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* To maintain the circular shape */
    position: relative;
    cursor: pointer;
    transition: transform 0.3s;
}

.app-icon img {
    
    max-width: 80px;
    /* 100px - 10px padding on each side */
    max-height: 80px;
    /* Same as width */
    border-radius: 50%;
    overflow-y: visible;
    /* Enable vertical scrolling */

    /* To maintain the circular shape of the image */
}

.swiper-button-next,
.swiper-button-prev {
    color: white;
    /* Arrow color */
    position: absolute;
    top: 50%;
    width: 50px;
    /* Adjust the size as needed */
    height: 50px;
    /* Adjust the size as needed */
    margin-top: -25px;
    /* Half of the height to center vertically */
    z-index: 10;
    cursor: pointer;
    background-size: 50%;
    /* Adjust the size of the arrow icon */
    background-position: center;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    background-color: transparent;
    /* Or any background color you prefer */
    font-size: 24px;
    /* Adjust the size of the arrow character */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    width: 30px;
    /* Adjust as needed */
    height: 30px;
    /* Adjust as needed */
    margin-top: -15px;
    /* Half of the height */
    position: absolute;
    top: 50%;



}

.swiper-button-next {
    right: 0px;
    /* Adjust the position as needed */
    content: '\u003e';
    /* Unicode for right-pointing arrow */
}

.swiper-button-prev {
    left: 0px;
    /* Adjust the position as needed */
    content: '\u003c';
    /* Unicode for left-pointing arrow */
}


#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #232741;
    /* Muted white-grey background */
    z-index: 0;
    /* Place it behind other content */
}


.carousel-image {
    max-height: 50vh;
    /* Adjust as needed */
    width: auto;
    /* Maintain aspect ratio */
    object-fit: cover;
    /* This ensures the image covers the area without stretching */
}

.swiper-slide {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    /* Adjust as needed */
    height: auto;
    /* Or set a specific height */
    max-height: 100%;
    /* Ensure it doesn't exceed the parent's height */
}



.detail-card {
    width: 90%;
    max-width: 600px;
    max-height: 75%;
    height: fit-content;
    font-family: 'Open Sans', sans-serif;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    display: none;
    transition: transform 0.5s, opacity 0.5s;
    backdrop-filter: blur(15px);
}

.detail-card .app-name {
    font-weight: 700;
    /* For a bolder font weight */
}

.detail-card .app-oneliner,
.detail-card .app-description {
    font-weight: 400;
    /* For regular font weight */

}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 50%;
    color: #515461;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    transition: opacity 0.3s, transform 0.5s, visibility 0.3s;
    z-index: 3;
    overflow-y: auto;
    /* Enable vertical scrolling */
    word-wrap: break-word;
    /* Ensure long words do not cause horizontal overflow */
}

.close-btn::before {
    content: '×';
}

.close-btn:hover {
    background: #e6e6e6;
}

.app-icon:hover:not(.is-selected) {
    transform: scale(1.1);
}


.app-icon-detail {
    width: 100px;
    /* Adjust size as needed */
    height: 100px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.489);

    top: -50px;
    /* Adjust to position half outside the card */
    left: 50%;
    transform: translateX(-50%);
}

.app-name {
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: larger;
}

.app-oneliner {
    text-align: center;
    color: white;
}


img {
    border-radius: 25px;
}